<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pump Status Prediction</title>
</head>
<body>
    <h1>Pump Status Prediction</h1>
    <form method="POST" action="/">
        <label for="temperature">Temperature (Celsius):</label>
        <input type="number" step="0" name="temperature" required><br><br>

        <label for="humidity">Humidity (%):</label>
        <input type="number" step="0" name="humidity" required><br><br>

        <label for="soil_moisture">Soil Moisture (0 to 1):</label>
        <input type="number" step="0" name="soil_moisture" required><br><br>

        <input type="submit" value="Predict">



    </form>

    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %}



</body>
</html>
